body {
    font-family: sans-serif;
    background-color: #fff;
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #04AA6D;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .error {
    color: red;
  }
  